@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Chrome, Safari, and Edge */
}

.no-scrollbar {
  -ms-overflow-style: none; /* Hides the scrollbar in Internet Explorer 10+ */
  scrollbar-width: none; /* Hides the scrollbar in Firefox */
}
